package ${packageName}.domain;

import com.zl.model.base.BaseEntity;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
import java.util.List;
#if($importList.size() > 0)
#foreach($import in $importList)
import ${import};
#end
#end

/**
 * ${functionName}实体类（树表）
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@AllArgsConstructor
@NoArgsConstructor
public class ${ClassName} extends BaseEntity {
    /**
     * 子节点列表
     */
    private List<${ClassName}> ${treeChildrenField};

#foreach($column in $columns)
#if($column.isPk != "1")
    /**
     * $column.columnComment
     */
    private $column.javaType $column.javaField;

#end
#end
}
